{% extends 'portfolio/base.html' %}

{% block content %}
<h1 class="display-4">Education</h1>
<div class="row">
    {% for education in educations %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ education.institution }}</h5>
                <p class="card-text">{{ education.degree }}</p>
                <p class="card-text">{{ education.start_date }} - {{ education.end_date }}</p>
                <p class="card-text">Marks: {{ education.marks }}</p>
                <a href="{{ education.certificate.url }}" class="btn btn-primary">Certificate</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
